@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

header nav {
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    background-color: #00a8db;
}

header nav a {
    color: #fff;
}

#page-wrap {
    width: 75%;
    margin: 0 auto;
    padding: 30px 10px 0 10px;
}